@import "tailwindcss";

@theme {
  --color-primary: #25D366;
  --color-primary-dark: #128C7E;
  --color-primary-light: #effdbf;

  /* Light Theme */
  --color-background: #F0F2F5;
  /* Standard WhatsApp Web Grey/White */
  --color-surface: #FFFFFF;
  --color-border: #E9EDEF;
  --color-text-primary: #111B21;
  --color-text-muted: #54656F;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #F0F2F5;
  --foreground: #111B21;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #25D366;
}